#tbl1 {
  border-collapse: collapse;
  margin: 2em auto;
  font-family: Verdana;
}
#tbl1 tr:nth-child(2n) {
  background-color: #ffeecc;
}
#tbl1 tr:nth-child(2n+1) {
  background-color: #ffdd99;
}
#tbl1 td {
  border: 1px solid #ffaa00;
  margin: 2em;
  padding: 1em;
  color: #cc8800;
  font-weight: 900;
}
#tbl1 th {
  border: 1px solid #ffaa00;
  margin: 2em;
  padding: 1em;
  background-color: #cc8800;
  color: #cc8800;
}
#tbl2 {
  border-collapse: collapse;
  margin: 2em auto;
  font-family: Verdana;
}
#tbl2 tr:nth-child(2n) {
  background-color: #ffeecc;
}
#tbl2 tr:nth-child(2n+1) {
  background-color: #ffdd99;
}
#tbl2 td {
  border: 1px solid #ffaa00;
  margin: 1em;
  padding: 1em;
  color: #cc8800;
  font-weight: 900;
}
#tbl2 th {
  border: 1px solid #ffaa00;
  margin: 1em;
  padding: 1em;
  background-color: #cc8800;
  color: #cc8800;
}
